## Information_retrieval Assignment_2 (MDS201803)

Importing packages

In [14]:
import pandas as pd
from nltk.corpus import stopwords

In [39]:
data = pd.read_json("/media/subhasish/Professional/CMI/Sem_3/Inf_ret/assignments/News_Category_Dataset_v2.json", lines = True)
data_frame = data.head(600)
data_frame = data_frame.drop(columns=['date', 'link'])

In [44]:
data_frame.head()

,authors,category,headline,short_description
0,"[melissa, jeltsen]",[crime],"[were, 2, mass, shootings, texas, last, week,,...","[left, husband., killed, children., another, d..."
1,"[andy, mcdonald]",[entertainment],"[smith, joins, diplo, nicky, jam, the, 2018, w...","[course, has, song.]"
2,"[ron, dicker]",[entertainment],"[hugh, grant, marries, the, first, time, age, 57]","[actor, his, longtime, girlfriend, anna, ebers..."
3,"[ron, dicker]",[entertainment],"[jim, carrey, blasts, 'castrato', adam, schiff...","[actor, gives, dems, ass-kicking, not, fightin..."
4,"[ron, dicker]",[entertainment],"[julianna, margulies, uses, donald, trump, poo...","[""dietland"", actress, said, using, bags, a, ""r..."

In [36]:
data_frame['category'][1]

'entertainment'

Case folding

In [41]:
for i in list(data_frame.columns):
    for j in range(len(data_frame)):
        data_frame[i][j] = data_frame[i][j].casefold()

Stop word removal

In [43]:
stop_words = stopwords.words('english')
def remove_stopwords(l):
    ls = l.split()
    for i in ls:
        if i in stop_words:
            ls.remove(i)
    return ls

for i in range(len(data_frame)):
    data_frame['headline'][i] = remove_stopwords(data_frame['headline'][i])
    data_frame['short_description'][i] = remove_stopwords(data_frame['short_description'][i])
    data_frame['authors'][i] = data_frame['authors'][i].split()
    data_frame['category'][i] = data_frame['category'][i].split()

Document dictionary

In [53]:
doc = {}
for i in range(len(data_frame)):
    temp = []
    for j in list(data_frame.columns):
        temp = temp + data_frame.iloc[i,][str(j)]
    doc[i] = temp

Creating documents

In [60]:
for i in range(0, 600):
    file = open("Lucene_doc/doc_" + str(i) + ".txt","w")
    file.write(str(doc[i]))
    file.close()